.AppHeaderContainer {
    min-height: var(--AppContainer-header--height);
    background-color: #f7f7f7;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AppHeaderContainer-left {
    display: flex;
}

.AppHeaderContainer-title {
    font-size: 20px;
    padding: 0;
    margin: 0 1rem 0 0;
}

.AppHeaderContainer-reloadButton {
    display: flex;
    align-items: center;
}

.AppHeaderContainer-right {
    display: flex;
    margin-left: auto;
}

.AppHeaderContainer-totalUnreadCount {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.AppHeaderContainer-totalSubscriptionCount {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.AppHeaderContainer-preferencesButton {
}
