.AppHeaderContainer {
    min-height: var(--AppContainer-header--height);
    background-color: #f7f7f7;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AppHeaderContainer-left {
    display: flex;
    align-items: center;
    align-content: center;
}

.AppHeaderContainer-title {
    font-size: 24px;
    padding: 0 0.2rem;
    margin: 0 0.5rem 0 0;
    display: flex;
    align-items: center;
    align-content: center;
    flex: 1;
}

.AppHeaderContainer-menu {
    min-width: 300px;
    width: 300px;
}

.AppHeaderContainer-center {
    display: flex;
}

.AppHeaderContainer-reloadButton {
    display: flex;
    align-items: center;
}

.AppHeaderContainer-right {
    display: flex;
    align-items: center;
    align-content: center;
}

.AppHeaderContainer-totalUnreadCount {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.AppHeaderContainer-totalSubscriptionCount {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.AppHeaderContainer-preferencesButton {
}
