:root {
    --SubscriptionListContainer-listHeader--height: 24px;
    --SubscriptionListContainer-item--height: 36px;
}

.SubscriptionListContainer {
    min-width: 100px;
}

.SubscriptionListContainer-listHeader {
    width: 100%;
    height: var(--SubscriptionListContainer-listHeader--height);
    min-height: var(--SubscriptionListContainer-listHeader--height);
}

.SubscriptionListContainer-listHeaderButton {
    width: 100%;
    background-color: #f4f4f4;
    height: var(--SubscriptionListContainer-listHeader--height);
    min-height: var(--SubscriptionListContainer-listHeader--height);
    color: #000;
}

.SubscriptionListContainer-item {
    color: #00308f;
    height: var(--SubscriptionListContainer-item--height);
    min-height: var(--SubscriptionListContainer-item--height);
    padding: 4px;
    cursor: pointer;
    /* middle */
    display: flex;
    align-items: center;
}

.SubscriptionListContainer-item:hover {
    background-color: #e8e8e8;
}

.SubscriptionListContainer-itemImage {
    flex-grow: 1;
    width: 16px;
    height: 16px;
    margin: 4px;
}

.SubscriptionListContainer-itemLink {
    padding: 0 4px;
    width: 100%;
    /* ellipsis long text */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
