# dependencies
/node_modules

# builds
/dist
/dist-e2e

# tests
/coverage
/playwright-report
/test-results
/blob-report

# local env
.env.local
.env.*.local

# misc
.DS_Store
*.log
.netlify

# irodr-local
/dist-local
/build
