.AuthorizePanel {
    width: 50vw;
    height: 55vh;
    padding: 1rem;
}

.AuthorizePanel-panelTitle {
    margin-top: 0;
}

.AuthorizePanel-authorizeButton {
    text-align: center;
}

.AuthorizeModal-footer {
    display: flex;
    background: #bedcff;
    padding: 0.5em 1em;
}

.AuthorizeModal-footerText {
    padding-right: 1em;
}
