.SubscriptionContentsContainer {
}

.SubscriptionContentsContainer-header {
}

.SubscriptionContentsContainer-subscriptionTitle {
    display: flex;
    margin: 0;
    padding: 8px;
    font-size: 16px;
    line-height: 16px;
}

.SubscriptionContentsContainer-subscriptionImage {
    flex-shrink: 1;
    margin: 0 4px;
}

.SubscriptionContentsContainer-subscriptionLink {
    font-size: 16px;
    line-height: 16px;
}

.SubscriptionContentsContainer-subscriptionUnreadCount {
}

.SubscriptionContentsContainer-subscriptionEditLink {
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    margin-left: 8px;
    margin-right: 8px;
}

.SubscriptionContentsContainer-subscriptionUpdatedDate {
    font-size: 12px;
    color: #999;
}

.SubscriptionContentsContainer-body {
    border: 1px solid #eee;
}

.SubscriptionContentsContainer-content {
    font-size: 100%;
    line-height: 1.5;
    padding: 0 1rem;
    border-bottom: 2px solid #a5c5ff;
}

.SubscriptionContentsContainer-contentBody {
    padding: 0.5rem 1rem;
}

.SubscriptionContentsContainer-content * {
    max-width: 100%;
}

.SubscriptionContentsContainer-contentTitle {
    margin: 0;
    padding-top: 0.5em;
}

.SubscriptionContentsContainer-contentTitleLink {
    color: #000;
}

.SubscriptionContentsContainer-contentFooter {
    font-size: 14px;
    color: #747474;
    padding: 6px;
    border-top: 1px dotted #cbcbcb;
}

/*
.SubscriptionContentsContainer-contentBody > center:first-of-type > div {
    display: none;
}
*/
