.SubscriptionContentsContainer {
}

.SubscriptionContentsContainer-header {
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.SubscriptionContentsContainer-headerLeft {
    flex-grow: 1;
}

.SubscriptionContentsContainer-headerRight {
    right: 0;
}

.SubscriptionContentsContainer-subscriptionTitle {
    display: flex;
    margin: 0;
    padding: 10px 0;
    font-size: 18px;
    line-height: 18px;
}

.SubscriptionContentsContainer-subscriptionImage {
    flex-shrink: 1;
    margin: 0 4px;
}

.SubscriptionContentsContainer-subscriptionLink {
    font-size: 16px;
    line-height: 16px;
}

.SubscriptionContentsContainer-subscriptionUnreadCount {
    padding: 0 4px;
}

.SubscriptionContentsContainer-subscriptionEditLink {
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    margin: 0 8px !important;
}

.SubscriptionContentsContainer-subscriptionUpdatedDate {
    font-size: 12px;
    color: #999;
}

.SubscriptionContentsContainer-body {
    border: 1px solid #eee;
}

.SubscriptionContentsContainer-content {
    font-size: 100%;
    line-height: 1.5;
    padding: 0 1rem;
    border-bottom: 2px solid #a5c5ff;
}

/* Content body*/
.SubscriptionContentsContainer-contentBody {
    padding: 0.5rem 1rem;
}

.SubscriptionContentsContainer-contentBody pre {
    padding: 1em;
    background: rgb(244, 242, 239) none repeat scroll 0 0;
    border: 1px solid rgb(128, 128, 128);
    line-height: 1;
}

.SubscriptionContentsContainer-contentBody img {
    max-width: 650px;
    height: auto;
    object-fit: contain;
}

.SubscriptionContentsContainer-content * {
    max-width: 100%;
}

.SubscriptionContentsContainer-contentTitle {
    margin: 0;
    padding-top: 0.5em;
}

.SubscriptionContentsContainer-contentTitleLink {
    color: #000;
}

.SubscriptionContentsContainer-contentFooter {
    font-size: 14px;
    color: #747474;
    padding: 6px;
    border-top: 1px dotted #cbcbcb;
    /* some content use float: left */
    clear: both;
}

.SubscriptionContentsContainer-readMore {
    display: flex;
    align-content: center;
}

.SubscriptionContentsContainer-readMoreButton {
    margin: auto;
    width: 100%;
}

/*
.SubscriptionContentsContainer-contentBody > center:first-of-type > div {
    display: none;
}
*/
