:root {
    --AppContainer-header--height: 32px;
}

.AppContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.AppContainer-header {
    background-color: #222;
    height: var(--AppContainer-header--height);
    min-height: var(--AppContainer-header--height);
    color: white;
}

.AppContainer-body {
    flex: 1;
    height: calc(100% - var(--AppContainer-header--height));
    max-height: calc(100% - var(--AppContainer-header--height));
}
