.SubscriptionContainer {
    display: flex;
}

.SubscriptionContainer-side {
    min-width: 300px;
    width: 300px;
    overflow: scroll;
    border-right: 1px #eee solid;
}

.SubscriptionContainer-main {
    flex: 1;
    overflow: scroll;
}
